.separador-desktop {
  display: none;
}

body {
  padding: 0;
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
  background-color: hsl(218, 23%, 16%);
  font-size: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Manrope", sans-serif;
}

.app {
  /*   width: 90%;
  height: 40%; */
  max-width: 80vh;
  background-color: hsl(217, 19%, 24%);
  color: hsl(193, 38%, 86%);
  padding: 2rem;
  /* border: solid red; */
  text-align: center;
  word-wrap: break-word;
  border-radius: 1rem;
  position: absolute;
  margin: 1.5rem;
  transition-property: width 1s;
  box-shadow: 6px 8px 8px hsl(220deg 22% 11%);
}

#num-concejo {
  color: hsl(150, 100%, 66%);
  font-size: 1rem;
}

.separador {
  padding: 1rem 0;
}

#btn {
  border-radius: 2rem;
  padding: 1rem;
  background-color: hsl(150, 100%, 66%);
  border: none;
  /* top: 1rem; */
  position: fixed;
}

#btn img {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}

#btn:hover {
  background: hsl(150, 100%, 66%);
  box-shadow: 0 0 50px hsl(150, 100%, 66%);
}

.container-btn {
  display: flex;
  justify-content: center;
}
